#projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row > article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}

@media screen and (max-width: 750px) {
    .row {
        flex-direction: column;
    }
}